body{
    background-color: #F6F6F6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.username {
    background: transparent;
    outline: none;
    width: 40vw;
    height: 5vh;
    padding: 5px;
}

.password {
    margin-top: 5vh !important;
    background: transparent;
    outline: none;
    width: 40vw;
    height: 5vh;
    padding: 5px;
}

.email{
position: absolute;
top: -25px;
font-family: Segoe UI;
font-style: normal;
font-weight: 350;
font-size: 14px;
line-height: 19px;

color: #000000;
}

.pass-label{
    position: absolute;
    margin-top: 55px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    
    color: #000000;
    }